* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #141414;
  color: rgb(238, 238, 238);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.app {
  padding: 1rem;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.note {
  width: 25rem;
  background: #3b3b3b;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 1.2rem;
  line-height: 1.5rem;
  h1 {
    color: rgb(212, 146, 53);
  }
  p {
    color: rgb(60, 191, 143);
  }
}

.note-form{
  display: flex;
  gap: 1rem;
  padding-inline:1rem ;
  padding-block: 3rem;
}