* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #141414;
  color: rgb(238, 238, 238);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.app {
  padding: 1rem;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.note {
  .s-no {
    color: rgb(196, 23, 23);
    font-size: 0.6rem;
  }
  button {
    background: #353535;
    padding-inline: 1rem;
    padding-block: 0.2rem;
    border-radius: 0.5rem;
    border: none;
    color: rgb(238, 238, 238);
    cursor: pointer;
  }
  width: 25rem;
  position: relative;
  background: #3b3b3b;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 1.2rem;
  line-height: 1.5rem;
  .edit-note {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
  .delete-note {
    position: absolute;
    top: 0.5rem;
    right: 7rem;
  }

  h1 {
    color: rgb(212, 146, 53);
  }
  p {
    color: rgb(60, 191, 143);
  }
}

.note-form {
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 3rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  input {
    outline: none;
    background: #3b3b3b;
    border: none;
    padding: 0.5rem;
    color: rgb(238, 238, 238);
    border-radius: 0.5rem;
    width: 20rem;
  }
  button {
    background: #353535;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    width: 8rem;
    border-radius: 0.5rem;
    border: none;
    color: rgb(238, 238, 238);
    cursor: pointer;
  }
}
