.user_info {
  background-color: #272727;
  position: fixed;
  top: 1rem;
  left: 1rem;
  height: 95vh;
  width: 20%;
  min-width: 300px;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  overflow: hidden;
  padding: 0.6rem;
  > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .user {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      padding: 0.5rem;
      .proPic {
        img {
          width: 100%;
          height: 100%;
        }
        overflow: hidden;
        width: clamp(25px, 5vw, 35px);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #ccc;
      }
    }
    button {
      border: none;
      border-radius: 0.6rem;
      outline: none;
      padding-inline: 1rem;
      color: #fff;
      cursor: pointer;
    }
    .followBtn {
      background: rgb(39, 214, 220);
    }
    .unfollowBtn {
      background: rgb(255, 0, 93);
    }
  }
  .following .count {
    color: #24c24b;
    background: #a5edb7;
    padding: 0.2rem;
    border-radius: 2rem;
    width: fit-content;
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    margin-left: 0.5rem;
  }
}
.feed_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 2rem;

  .navbar {
    padding-block: 0.5rem;
    display: flex;
    width: 100%;

    justify-content: space-between;
    padding-inline: 2rem;
    text-transform: uppercase;
    p {
      font-size: clamp(0.6rem, 2vw, 1rem);
      font-weight: bold;
    }
    button {
      border: none;
      border-radius: 0.6rem;
      background: rgb(255, 0, 93);
      outline: none;
      padding-inline: 2rem;
      color: #fff;
      cursor: pointer;
    }
  }
  .feed {
    background-color: #1e1d1c;
    max-width: 350px;
    .posts {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      .post {
        border-radius: 0.6rem;
        padding-block: 1rem;
        padding-inline: 0.5rem;
        background: #000;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .post_user {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
          .img_wrapper {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgba(255, 0, 0, 0);
            background: conic-gradient(
                from 45deg,
                rgb(253, 108, 5),
                rgb(153, 0, 255),
                rgb(253, 108, 5)
              )
              border-box;
            .user_image {
              width: clamp(10px, 10vw, 30px);
              aspect-ratio: 1/1;
              border-radius: 50%;
              background-color: #ccc;
            }
          }
          .user_name {
            font-weight: bold;
            font-size: clamp(0.6rem, 2vw, 1rem);
          }
        }
        .post_image {
          width: 100%;
        }
        .icons {
          button {
            border: none;
            border-radius: 0.6rem;
            background: transparent;
            outline: none;
            cursor: pointer;
            svg {
              width: clamp(12px, 3vw, 20px);
              aspect-ratio: 1/1;
              color: #ffffff;
              &.like {
                color: red;
              }
            }
          }
          display: flex;
          justify-content: space-between;

          .left {
            display: flex;
            gap: 1rem;
          }
          .right {
            display: flex;
          }
        }
        .bottom {
          .caption {
            font-size: clamp(0.6rem, 2vw, 1rem);
          }
        }
      }
    }
  }
}
